<!-- Inherits from layout.html -->
{% extends "layout.html" %}
<!-- The block content replace the one encapsulated in layout.html -->
{% block content %}

<div class="row">
    <div class="header">Heart Attack & Disease Prediction</div>
    
    <div class="headerDesc">This Web Application predicts whether a person is likely to contract Heart Disease or succumb to a Heart Attack, or stay healthy. <br>
                            This is done through the use of sklearn in python, which is used to train a classification prediction model.<br><br>
                            The model takes in a total of 9 parameters: <br>
                            <i>HighBP, HighChol, BMI, Smoker, Stroke, Diabetes, HvyAlcoholConsump, Sex</i> and <i>Age</i></div>
    <a class='predLink' href='/predict'><div class="predictBtn">Predict Now</div></a><br>
</div>

<div class="row">
    
    <div class="train">How is the model trained ?</div>
    <div class="trainMethod">
        The model is trained on a dataset consisting of 9 input variables and<br>
        one binary output variable: <i>HeartDiseaseorAttack.</i><br>
        The original dataset consists of 22 columns and 250,000+ records of data.<br><br>

        However, only 10 of the variables were chosen for this task.<br>
    </div>
    <div class="trainMethod">
        The model was trained using the 9 variables, and the feature importances<br>
        were plotted to show which variables affected the model the most.
    </div>
    <img src="/static/graphs/featureimportances.jpeg">
</div>

<div class="row">
    <div class="funnel">
        <iframe src="/static/graphs/bar.html" width="560" height="500" frameBorder="0"></iframe>
        <iframe src="/static/graphs/funnel.html" width="560" height="500" frameBorder="0"></iframe>
        <iframe src="/static/graphs/scatter.html" width="1100" height="700" frameBorder="0"></iframe>
    </div>

</div>
{% endblock %}