<!-- Inherits from layout.html -->
{% extends "layout.html" %}

{% block nav %}{% endblock %}

<!-- The block content replace the one encapsulated in layout.html -->
{% block content %}

<script>
    function scrollDown() {
      window.scrollTo(0, document.scrollHeight);
    }
</script>

<div class="row">
      
    <div class="col-md-10 offset-md-3">
        <form name="frmPredict" action="/predict" method="post" novalidate>
            <fieldset class="form-group">
                <legend>{{title}}</legend>
                {{ form.hidden_tag() }}
                <p id="">
                    {{form.Qn1.label(class_="form-control")}}
                    {% for subfield in form.Qn1 %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td class="radio" onclick=scrollDown()>{{ subfield.label }}</td>
                        </tr> <br>
                    {% endfor %}
                </p>
                <p id="bpField">
                    {{form.Qn2.label(class_="form-control")}}
                    {% for subfield in form.Qn2 %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr> <br>
                    {% endfor %}
                </p>
                <p id="bpField">
                    {{form.Qn3.label(class_="form-control")}}
                    {% for subfield in form.Qn3 %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr> <br>
                    {% endfor %}
                </p>
                <p id="bpField">
                    {{form.Qn4.label(class_="form-control")}}
                    {% for subfield in form.Qn4 %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr> <br>
                    {% endfor %}
                </p>
                <p id="bpField">
                    {{form.Qn5.label(class_="form-control")}}
                    {% for subfield in form.Qn5 %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr> <br>
                    {% endfor %}
                </p>
                <p id="bpField">
                    {{form.Qn6.label(class_="form-control")}}
                    {% for subfield in form.Qn6 %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr> <br>
                    {% endfor %}
                </p>
                <p id="bpField">
                    {{form.Qn7.label(class_="form-control")}}
                    {% for subfield in form.Qn7 %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr> <br>
                    {% endfor %}
                </p>
                <p id="bpField">
                    {{form.Qn8.label(class_="form-control")}}
                    {% for subfield in form.Qn8 %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr> <br>
                    {% endfor %}
                </p>
                <p id="bpField">
                    {{form.Qn9.label(class_="form-control")}}
                    {% for subfield in form.Qn9 %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr> <br>
                    {% endfor %}
                </p>
                <p id="bpField">
                    {{form.Qn10.label(class_="form-control")}}
                    {% for subfield in form.Qn10 %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr> <br>
                    {% endfor %}
                </p>

                <p class="submit">
                    {{ form.submit(class_='form-control') }}
                </p>
            </fieldset>
        </form>
    </div>
    <hr>
</div>
{% endblock %}