html,
body {
    font-family: Arial, Helvetica,
        sans-serif;
    height: 100%;
    position: relative;
    margin: 0px;
}

header {
    text-align: center;
    border-bottom: 1px solid #837373;
    margin-bottom: 20px;
}

hr {
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkblue;
    border: 0 none;
}

input[type=text] {
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.top-container {
    background: #d1d1d1;
    padding: 5px;
    border-bottom: 2px solid #0f0f0f;
}

.bottom-container {
    background-color: rgb(155, 74, 74);
    padding: 3px;
    background-color: rgb(155, 74, 74);
    /* position:absolute; */
    bottom: 0;
}

footer {
    text-align: center;
    height: 40px;
    color: white;
    padding: 5px;
    margin-top: 10px;
    bottom: 0px;
}

.error-message {
    color: red;
}

#submit {
    background-color: rgb(67, 67, 203);
    color: white;
}

form {
    margin: auto;
    width: 700px;
}

.form-group > p {
    float: left;
    padding: 0 5%;
}

.form-control {
    vertical-align: middle;
    align-content: center;
}

.submit {
    margin-top: 25px;
}

legend {
    float: left;
    padding-top: 10%;
    padding-bottom: 10%
} 

.title {
    width: 100%;
    height: 80px;
    background-color:rgb(155, 74, 74);
    top: 0;
}

h1 {
    float: left;
    padding: 15px 30px;
    margin-left: 5%;
    color: white;
}