<div class="footer container-fluid text-center bottom-container">
    <footer>
        <p class="footerTitle">yan's personality test</p>

        <p class="createdBy">
            <b>Created By:</b> <br>
            Ryan Ueda Teo Shao Ming &nbsp; &hearts; &nbsp; placeholder &nbsp; &hearts; &nbsp; placeholder
        </p>

        <br>

        <p class="hoverable"><a class="footerLinks" href="https://www.kaggle.com/datasets/alexteboul/heart-disease-health-indicators-dataset">
                Dataset</a> &nbsp; | 
            <a class="footerLinks" href="https://www.cdc.gov/brfss/annual_data/2015/pdf/codebook15_llcp.pdf">
                Code Report</a> &nbsp; |
            <a class="footerLinks" href="https://www.cdc.gov/brfss/annual_data/annual_data.htm">
                Additional Data
            </a>
        </p>

    </footer>
</div>