<header>
    <nav>
        <ul class="nav">

            <li class="nav-item">
                <a href="/home" class="nav-link
                    {% if home %}active{% endif %}">Home
                </a>
            </li>
            
            <li class="nav-item">
                <a href="/predict" class="nav-link
                    {% if index %}active{% endif %}">Predict
                </a>
            </li>

            <li class="nav-item">
                <a href="/history" class="nav-link
                    {% if home %}active{% endif %}">History
                </a>
            </li>
        </ul>
    </nav>
</header>